/*****************************************
         ~~~~~  Site Styles  ~~~~~
*****************************************/

html, body {

  height: 100%;
  position: relative;

}

body > section:nth-of-type(odd) {

	background-color: white;

}

body > section:nth-of-type(even) {

	background-color: aliceblue;
}

p {

  font-size: 1.0em;
  line-height: 1.0em;
  font-weight: 200;
  color: black;

}

li {

  font-size: 1.0em;
  line-height: 1.0em;
  font-weight: 200;
  color: black;
  text-align: left;
}

a {

  color: slategrey;

}

b {

  font-weight: 600;

}

h1 {

  text-align: center;
  padding-top: 25px;
  color: black;

}

h2 {

  text-align: center;
  font-size: 1.3em;
  color: darkslategray;
  text-transform: uppercase;

}

h3 {

  font-size: 1.3em;
  font-weight: 500;
  color: darkslategray;

}

h4 {

  font-size: 1.3em;
  font-weight: 500;
  color: black;

}

h5 {

  font-size: 1.5em;
  font-weight: 500;
  color: black;
  text-align: left;
}

.indent {

  padding-left: 0pt;
  padding-right: 0pt;

}

.anchor {

  display: block;
  position: relative;
  top: -120px;
  visibility: hidden;

}

.bigbutton {

  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: darkslategray;
  background-color: white;
  font-size: 1.3em;
  text-align: center;
  padding: 15px;
  margin: 10px 0;
  border: thin solid #efefef;
  border-radius: 5px;

}

.bigbutton:visited {

  color: #6f6f6f;

}

.bigbutton:hover {

  color: #0b0b0b;
  background-color: aliceblue;
  border: thin solid #ccc;

}

.bigbutton:active {

  color: #0b0b0b;
  background-color: aliceblue;

}

.cards {

  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 20px;

}

.card {

  background-color: aliceblue;
  box-shadow: 0px 0px 7px #888;
  margin: 1rem;
  padding: 10px 10px 2em;
  width: 180px;

}

.card h1 {

  font-size: 100%;
  margin: 0 auto;
  padding: 5px;

}

.card ul {

  list-style: none;
  text-align: center;
  margin: 0 auto;
  padding: 5px;

}

.card li {

  padding: 0.5em;
  margin: 0 auto;
  display: block;

}

.center {

  text-align: center;

}

/*****************************************
        ~~~~~  Header Styles  ~~~~~
*****************************************/

 header,
.main-nav,
.profile {

  display: flex;
  flex-flow: column;

}

#header-space {

  width: 100%;
  top: 0;
  margin: 0;
  padding: 0;

}

header {

  padding: 0;
  margin: 0;

}

.header-container {

  max-width: 1366px;
  margin: 0 auto;
  padding: 0;

  }

/*****************************************
      ~~~~~  Main Nav Styles  ~~~~~
*****************************************/

.navbar {

  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  background-image: url("../img/6.jpg");
  background-size: cover;
  box-shadow: 0 1px 10px 2px;

 }

.nav-container {

  display: flex;
  flex-flow: column wrap;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  align-content: center;

}

.nav {



}

#logo {

  width: 186px;
  height: 72px;
  padding: 0;
  margin: 1em auto 0;
  display: flex;

}

.nav ul {

  display: none;
  flex-flow: wrap;
  justify-content: center;
  list-style: none;
  margin: 1em auto;
  padding: 0;

}

.nav a {

  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: darkslategray;
  background-color: #fafafa;
  font-size: 0.5em;
  text-align: center;
  padding: 5px;
  margin: 0.5em;
  border: thin solid #efefef;
  border-radius: 5px;

}

.nav a:visited {

  color: #6f6f6f;

}

.nav a:hover {

  color: #0b0b0b;
  background-color: white;
  border: thin solid #ccc;

}

.nav-highlight a:active {

  color: #000;
  background-color: cornsilk;

}


/*****************************************
       ~~~~~  Profile Styles  ~~~~~
*****************************************/

.profile {

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

}

.profile-text {

  padding: 0 0 25px 0;
  margin: 0 5% 25px 5%;
  text-align: center;
  justify-content: center;
  align-self: center;
}

.profile-pic {

  width: 100%;
  height: 100%;
  justify-content: center;
  align-self: center;
  box-shadow: 0 5px 10px #aaa;
  margin: 0.5em 0 1em;

}

.profile-pic img {

  width: 100%;
  max-width: 600px;
  height: auto;
  justify-content: center;
  align-self: center;

}

/*****************************************
      ~~~~~  Section Styles  ~~~~~
*****************************************/

section {

  margin: 0 auto;
  padding: 0;
  box-shadow: 0 5px 9px 4px;

}

.section-container {

  text-align: center;
  list-style: none;
  max-width: 1012px;
  margin: 0 auto;
  padding: 50px;
  display: flex;
  flex-flow: column;
  justify-content: center;

}

section p {

  text-align: justify;

}

#home h2{

  display: none;

}

#install {

  background: repeating-linear-gradient(
  45deg,
  white,
  white 10px,
  aliceblue 10px,
  aliceblue 20px
);

}

#features li {

  margin: 1.5em;

}

#contact p {

  text-align: center;

}

/*****************************************
     ~~~~~  Footer Nav Styles  ~~~~~
*****************************************/

footer {

  box-shadow: 0 4px 9px 6px;
  margin: 0 auto;
  padding: 0;
  background-image: url("../img/6.jpg");
  background-size: cover;
}

.footer-container {

  max-width: 1366px;
  margin: 0 auto;
  padding: 0;

}

.footer-nav {

  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;

}

.footer-nav-title {

  font-size: 1em;
  margin: 30px 0;
  padding: 0;

}

.footer-nav ul {

  display: none;

}


.footer-mobiletop {

  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  padding: 0 0 50px;

}

.credit {
  border-top: thin solid #ddd;
  font-size: 0.75em;
  text-align: center;
  margin: 0 auto;
  padding: 15px;

}

.credit p,
.credit a {

  color: white;

}


/*****************************************
       ~~~~~  Tablet Styles  ~~~~~
*****************************************/

@media (min-width: 640px) {

  .indent {

    padding-left: 25pt;
    padding-right: 25pt;

  }

  .anchor {

    top: -200px;

  }

  .bigbutton {

    box-shadow: 0 0 4px black;
    font-size: 1em;
    text-align: center;
    padding: 25px;
    margin: 25px auto;
    width: 75%;
    max-width: 500px;

  }

  .bigbutton:active {

    box-shadow: inset 0 0 4px black;

  }

  .nav a {

    font-size: 0.8em;
    padding: 0.9em;

  }


  /* Footer */

  .footer-nav {

    justify-content: center;
    display: flex;

   }

  .footer-nav ul {
    background-color: #fafafa;
    display: inherit;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    width: 100%;
    margin: 0 0 0 auto;
    padding: 0;

  }

  .footer-nav a {

    display: inherit;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: darkslategray;
    background-color: #fafafa;
    font-size: 0.9em;
    text-align: center;
    padding: 7.5px;
    margin: 0 0 0 7.5px;
    border: thin solid #efefef;
    border-radius: 5px;

  }

  .footer-nav a:visited {

    color: #6f6f6f;

  }

  .footer-nav a:hover {

    color: #0b0b0b;
    background-color: #fafafa;
    border: thin solid #ccc;

  }

  .footer-nav a:active {

    color: #0b0b0b;
    background-color: #fbc955;

  }

  .footer-mobiletop {

    display: none;

  }

}

/*****************************************
       ~~~~~  Desktop Styles  ~~~~~
*****************************************/

@media (min-width: 1011px) {


	/* Generic */

  .indent {

    padding-left: 50pt;
    padding-right: 50pt;

  }

  .anchor {

    top: -100px;

  }

	/* Nav */

  .nav-container {

    flex-flow: row;
    justify-content: space-between;

  }

  #logo {

    margin: 0.5em;
    padding: 0;

  }

  .nav {

    display: flex;
    flex-flow: row;
    padding: 0;

  }

  .nav ul {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    list-style: none;
    margin: 0 0.8em 0 0;

  }


  .nav a {

    font-size: 0.9em;
    padding: 0.8em;

  }


}
