/*****************************************
         ~~~~~  Site Styles  ~~~~~
*****************************************/

html, body {
	
	height: 100%;
	
}

body,
section {
  
  background-image: url(./img/bg.png);
  
}

body > section:nth-of-type(odd) {

	background-color: #fafafa;

}

body > section:nth-of-type(even) {

	background-color: #fff;

}

p {
  
  font-size: 1.2em;
  line-height: 1.2em;
  font-weight: 200;
  color: darkslategray;
  
}

a {
  
  color: slategrey;
  
}

b {
  
  font-weight: 600;
  
}

h1 {
  
  text-align: center;
  padding-top: 25px;
  color: black;
  
}

h2 {
  
  text-align: center;
  font-size: 1em;
  color: darkslategray;
  text-transform: uppercase;
  
}

h3 {
  
  font-size: 1.3em;
  font-weight: 500;
  color: darkslategray;
  
}

.indent {
  
  padding-left: 0pt;
  padding-right: 0pt;
  
}

.anchor {
  
  display: block;
  position: relative;
  top: -120px;
  visibility: hidden;

}

.bigbutton {
  
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: darkslategray;
  background-color: white;
  font-size: 1.125em;
  text-align: center;
  padding: 15px;
  margin: 10px 0;
  border: thin solid #efefef;
  border-radius: 5px; 
  
}

.bigbutton:visited {
  
  color: #6f6f6f;
  
}

.bigbutton:hover {
  
  color: #0b0b0b;
  background-color: #fafafa;
  border: thin solid #ccc;
  
}

.bigbutton:active {
  
  color: #0b0b0b;
  background-color: #fbc955;
  
}

.cards {
  
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 20px;
  
}

.card {

  background-color: white;
  box-shadow: 0 5px 10px #ddd;
  margin: 1rem;
  padding: 10px;
  width: 170px;
  
}

.card h1 {
  
  font-size: 100%;
  margin: 0 auto;
  padding: 5px;
  
}

.card ul {
  
  list-style: none;
  text-align: center;
  margin: 0 auto;
  padding: 5px;
  
}

.card li {
  
  padding: 0.5em;
  margin: 0 auto;
  display: block;
  
}

.center {
  
  text-align: center;
  
}

/*****************************************
        ~~~~~  Header Styles  ~~~~~
*****************************************/

 header,
.main-nav, 
.profile {
  
  display: flex;
  flex-flow: column;
  
}

header {
  
  box-shadow: inset 1px 4px 9px -6px;
  padding: 0;
  margin: 0;
  
}

.header-container {
    
  max-width: 1366px; 
  margin: 0 auto;
  padding: 0;
    
  }

.site-title h2 {
    
  margin: 10px;
  padding: 0 0 15px;
  text-transform: none;
  font-size: 1em;
  font-weight: 400;
    
  }

/*****************************************
      ~~~~~  Main Nav Styles  ~~~~~
*****************************************/

.nav {

 justify-content: center;
 
 }

.nav ul {
  
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  list-style: none;
  width: 95%;
  margin: 1em auto;
  padding: 0;
  
}

.nav a {
  
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: darkslategray;
  background-color: #fafafa;
  font-size: 0.7em;
  text-align: center;
  padding: 10px;
  margin: 0.5em;
  border: thin solid #efefef;
  border-radius: 5px; 
  
}

.nav a:visited {
  
  color: #6f6f6f;
  
}

.nav a:hover {
  
  color: #0b0b0b;
  background-color: white;
  border: thin solid #ccc;
  
}

.nav a:active {
  
  color: #fff;
  background-color: #000;
  
}

/* Sticky Nav */

.sticky-navbar {
	
  position:fixed;
  top:0px;
  width:100%; 
  margin: 0 auto;
  z-index:9999;
  box-shadow: 0px 4px 9px -6px;
  background-color: rgba(255,255,255,0.98);
  display: none;
	
}

.sticky-container {
  
  padding: 0;
  margin: 0; 
  max-width: 1366px; 
  margin: 0 auto;
  padding: 0;
    
}

.sticky-site-title h2 {
    
  display: none;
    
  }

.sticky-nav ul {
	
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  list-style: none;
  width: 95%;
  margin: 10px auto;
  padding: 0;
	
}

.sticky-nav a {
	
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: darkslategray;
  background-color: #fafafa;
  font-size: 0.7em;
  text-align: center;
  padding: 10px;
  margin: 0.5em;
  border: thin solid #efefef;
  border-radius: 5px; 
	
}

.sticky-nav a:visited {
  
  color: #6f6f6f;
  
}

.sticky-nav a:hover {
  
  color: #0b0b0b;
  background-color: white;
  border: thin solid #ccc;
  
}

.sticky-nav a:active {
  
  color: #fff;
  background-color: #000;
  
}

.sticky-nav a.active {
  
  color: #0b0b0b;
  background-color: #dedede;
  
}

.sticky-site-title h1 {
  
  margin: 0 auto;
  
}

.nav-hightlight {
  
  
  
}


/*****************************************
       ~~~~~  Profile Styles  ~~~~~
*****************************************/

.profile {

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

} 

.profile-text {
	
	padding: 0 0 25px 0;
  margin: 0 5% 25px 5%;
  text-align: center;
  justify-content: center;
  align-self: center;
}

.profile-pic {
  
  max-height: 225px;
  max-width: 367px;
  width: 100%;
  justify-content: center;
  align-self: center;
  padding: 25px 0 50px;
  
}

.profile-pic img {
  
  width: 100%;
  height: auto;
  justify-content: center;
  align-self: center;
  box-shadow: 0 5px 10px #aaa;
  
}

/*****************************************
      ~~~~~  Section Styles  ~~~~~
*****************************************/

section {
	
  margin: 0 auto;
  padding: 0;
  box-shadow: inset 1px 4px 9px -6px;
	
}

.section-container {
	
  text-align: center;
  list-style: none;
  max-width: 1250px;
  margin: 0 auto;
  padding: 50px;
  display: flex;
  flex-flow: column;
  justify-content: center;

}

section p {
  
  text-align: center;
  
}

/*****************************************
     ~~~~~  Footer Nav Styles  ~~~~~
*****************************************/

footer {
    
  box-shadow: inset 1px 4px 9px -6px;
  margin: 0 auto;
  padding: 0;
    
}

.footer-container {
	
  max-width: 1366px;
  margin: 0 auto;
  padding: 0;
	
}

.footer-nav {
  
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  
}

.footer-nav-title {
  
  font-size: 1em;
  margin: 30px 0;
  padding: 0;
  
}

.footer-nav ul {
  
  display: none;
  
}


.footer-mobiletop {
  
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  padding: 0 0 50px;
  
}

.credit {
  
  border-top: thin solid #ddd;
  font-size: 0.75em;
  text-align: center;
  margin: 0 auto;
  padding: 15px;
  
}


/*****************************************
       ~~~~~  Tablet Styles  ~~~~~
*****************************************/

@media (min-width: 640px) {
  
  .indent {
  
    padding-left: 25pt;
    padding-right: 25pt;
  
  }
  
  .anchor {
  
    top: -200px;

  }
  
  .bigbutton {

    box-shadow: 0 0 4px black;
    font-size: 1em;
    text-align: center;
    padding: 25px;
    margin: 25px auto;
    width: 75%;
    max-width: 500px;

  }
  
  .bigbutton:active {
    
    box-shadow: inset 0 0 4px black;
    
  }
  
  
  /* Nav */
 
  .nav {
 		
 		margin: 10px 0;
    display: flex;
    flex-flow: row;
    list-style: none;

  }
  
  .nav ul {
  
  	display: inherit;
  	justify-content: center;
  	
  }

  .nav a {

    font-size: 0.8em;
    text-align: center;
    padding: 1em;
    margin: 0.3em;
  

  }
  
  /* Sticky Nav */
  
  .sticky-nav {
 		
 	margin: 0;
    display: flex;
    flex-flow: row;
    list-style: none;

  }
  
  .sticky-nav ul {
  
  	display: inherit;
  	justify-content: center;
  	
  }

  .sticky-nav a {

    font-size: 0.8em;
    text-align: center;
    padding: 1em;
    margin: 0.3em;
  

  }

  /* Profile */
  
  .profile {
    display: flex;
    flex-flow: row;
    justify-content: center;
  }  
  
  .profile-text {
  
    order: 1;
    align-self: flex-start;
    text-align: left;
    width: 62%;
    height: 100%;
    margin: 0 1% 0 3%;
  }
  
  .profile-pic {

    order: 2;
    width: 25%;
    height: 100%;
    margin: 0 3% 50px 1%;
    justify-content: center;
    align-self: center;
    
  }
  
  /* Sections */
  
  section p {

    text-align: justify;

  }
  
  /* Footer */
  
  .footer-nav {

    justify-content: center;
    display: flex;

   }

  .footer-nav ul {
    
    display: inherit;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    width: 100%;
    margin: 0 0 0 auto;
    padding: 0;

  }

  .footer-nav a {

    display: inherit;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: darkslategray;
    background-color: #fafafa;
    font-size: 0.9em;
    text-align: center;
    padding: 7.5px;
    margin: 0 0 0 7.5px;
    border: thin solid #efefef;
    border-radius: 5px; 

  }

  .footer-nav a:visited {

    color: #6f6f6f;

  }

  .footer-nav a:hover {

    color: #0b0b0b;
    background-color: #fafafa;
    border: thin solid #ccc;

  }

  .footer-nav a:active {

    color: #0b0b0b;
    background-color: #fbc955;

  }
  
  .footer-mobiletop {

    display: none;

  }

}

/*****************************************
       ~~~~~  Desktop Styles  ~~~~~
*****************************************/

@media (min-width: 1023px) {
  
	
	/* Generic */
	
  .indent {
  
    padding-left: 50pt;
    padding-right: 50pt;
  
  }
  
  .anchor {
  
    top: -100px;

  }

	/* Nav */
  
  .nav-container {
    
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .nav {
    
    display: flex;
    flex-direction: row;
    margin: 0 0.9em 0 0;
    
    
  }
  
  .nav ul {

    display: flex;
    flex-flow: row;
    list-style: none;

  }
  
  .nav a {
    
    font-size: 0.9em;
    
  }
  
  
  .site-title {
  	
  	width: 320px;
  	
  }
  
  .site-title h1 {
    
    margin: 20px auto 0 30px;
    text-align: left;
    
  }
  
  
  .site-title h2 {
    
    margin: 5px auto 30px 40px;
    text-align: left;
    
  }

	/* Sticky Nav */

  .sticky-navbar {
    
    
    
  }
  
  .sticky-container {
    
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin: -10px auto;
    max-width: 1366px;
    
  }
  
  .sticky-nav {
    
    display: flex;
    flex-flow: row;
    padding: 0;
    
    
  }
  
  .sticky-nav ul {

    display: flex;
    justify-content: space-between;
    flex-flow: row;
    list-style: none;
    margin: 0 0.8em 0 0;

  }
  
  .sticky-nav a {
    
    font-size: 0.9em;
    margin: 0 0.3em 0;
    
  }
  
  
  .sticky-site-title {
  	
  	width: 320px;
  	
  }
  
  .sticky-site-title h1 {
    
    margin: 0 auto 0 30px;
    text-align: left;
    
  }
  
  
  .sticky-site-title h2 {
    
    display: block;
    margin: 5px auto 25px 40px;
    text-align: left;
  	text-transform: none;
  	font-size: 1em;
  	font-weight: 400;
    
  }
  
  section p {

    text-align: justify;

  }

}

